{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="mb-5 text-center">
            <h1 class="text-center mb-2">Your Dashboard</h1>
            <h4 class="text-center">Plant : {{ plant.name }}</h4>
            <h5 class="text-center">Area : {{ area.name }}</h5>
            <h6 class="text-center">IP of ESP32 : {{ preference.ip }}</h6>
            <a href="{{ path('app_preference_edit', {"id": 1}) }}" class="btn btn-secondary mt-2">Modify your preferences</a>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="card text-dark bg-warning mb-3">
                    <div class="card-header">
                        <div class="h-100 d-flex flex-row ">
                            <i class=" bi bi-thermometer-sun" style="font-size: 30px"></i>
                            <h3 class="h3 mx-1 my-auto">Temperature</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Value : {{ air_condition.temperature }} °C</h5>
                        <h6 class="card-title">{{ air_condition.date|date('d/m/Y H:i:s') }}</h6>
                        <a href="{{ path('app_air_condition_refresh') }}" class="btn btn-dark">Refresh air condition</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-dark bg-primary mb-3">
                    <div class="card-header">
                        <div class="h-100 d-flex flex-row ">
                            <i class="bi bi-droplet-fill" style="font-size: 30px"></i>
                            <h3 class="h3 mx-1 my-auto">Humidity</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Value : {{ air_condition.humidity }} %</h5>
                        <h6 class="card-title">{{ air_condition.date|date('d/m/Y H:i:s') }}</h6>
                        <a href="{{ path('app_air_condition_refresh') }}" class="btn btn-dark">Refresh air condition</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-dark bg-success mb-3">
                    <div class="card-header">
                        <div class="h-100 d-flex flex-row ">
                            <i class="bi bi-wind" style="font-size: 30px"></i>
                            <h3 class="h3 mx-1 my-auto">Pressure</h3>
                        </div>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Value : {{ air_condition.atmosphericPressure }} hPa</h5>
                        <h6 class="card-title">{{ air_condition.date|date('d/m/Y H:i:s') }}</h6>
                        <a href="{{ path('app_air_condition_refresh') }}" class="btn btn-dark">Refresh air condition</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card text-dark bg-info mb-3">
                    <div class="card-header">
                        <div class="h-100 d-flex flex-row ">
                            <i class=" bi bi-moisture" style="font-size: 30px"></i>
                            <h3 class="h3 mx-1 my-auto">Water level</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Value : {{ water_level.level }} % of the container</h5>
                        <h6 class="card-title">{{ water_level.date|date('d/m/Y H:i:s') }}</h6>
                        <a href="{{ path('app_water_level_refresh') }}" class="btn btn-dark">Refresh water level</a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped table-bordered">
            <thead>
                <div class="border rounded-top">
                    <h3 class="px-2 my-2">Irrigation history</h3>
                </div>

                <tr>
                    <th>Watering start date</th>
                    <th>Air condition</th>
                    <th>Watering end date</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for irrigation in irrigations %}
                    <tr>
                        <td>{{ irrigation.wateringStartDate|date('d/m/Y H:i:s') }}</td>
                        <th>{{ irrigationAirConditions[irrigation.id] }}</th>
                        <td>{{ irrigation.wateringEndDate|date('d/m/Y H:i:s') }}</td>
                        <td>{{ irrigation.duration ?? "En cours" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
